extends layout

block content
  #jumbotron-home.jumbotron
    .container
      h1 Hello There!
      h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce orci nulla, vehicula ullamcorper lobortis sed, luctus quis lacus.
      a.btn.btn-primary.btn-lg(href='#') See more &raquo;
  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        a.btn.btn-default(href='#', role='button') View details »
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        a.btn.btn-default(href='#', role='button') View details »
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        a.btn.btn-default(href='#', role='button') View details »
      
